/* Common Styles for Mobile and Desktop */
body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #be3144;
}

#navbar {
  display: flex;
  justify-content: space-around;
  width: 50%; /* Adjust the width based on your design */
}

.nav {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px; /* Adjust the font size as needed */
}

/* Logo Styles */
img {
  position: relative;
  top: 80px;
  left: 120px;
  max-width: 25%;
  height: auto;
  border-radius: 50%;
}


/* Main Content Styles */
main {
  background-color: #303841;
  padding: 20px;
}

h1 {
  font-size: 32px; /* Adjust the font size as needed */
  color: white;
  text-align: center;
}

h2 {
  font-size: 24px; /* Adjust the font size as needed */
  color: white;
  text-align: center;
}

/* Bio Styles */
#bio {
  background-color: #2e2e2e;
  color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 16px; /* Adjust the font size as needed */
}

/* Project Cards Styles */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3 {
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 15px; /* Adjust the spacing as needed */
}

/* Contact Section Styles */
#contact {
  background-color: #173F5F;
  color: white;
  text-align: center;
  padding: 20px;
}

#contactlink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-size: 18px; /* Adjust the font size as needed */
  text-decoration: none;
  color: white;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: #f0f0f0;
  padding: 10px 20px;
  align-items: center;
}
